-i https://pypi-int.prozorro.sale/
{%- if cookiecutter.use_dotenv == 'y' %}
python-dotenv
{%- endif %}
{%- if cookiecutter.use_yaml == 'y' %}
PyYAML
{%- endif %}
aiohttp[speedups]
{%- if (cookiecutter.use_swagger == 'y' or  cookiecutter.use_swagger_yaml == 'y') %}
prozorro_aiohttp_swagger
{%- endif %}
{%- if cookiecutter.use_uvloop == 'y' %}
uvloop
{%- endif %}
{%- if cookiecutter.use_mongo == 'y' %}
motor
{%- endif %}
{%- if cookiecutter.use_orjson == 'y' %}
orjson
{%- endif %}
{%- if cookiecutter.use_ujson == 'y' %}
ujson
{%- endif %}
{%- if cookiecutter.use_python_box == 'y' %}
python-box
{%- endif %}
{%- if cookiecutter.use_trafaret == 'y' %}
trafaret
{%- endif %}
{%- if cookiecutter.use_requests == 'y' %}
requests
{%- endif %}
{%- if cookiecutter.use_schematics == 'y' %}
schematics==3.2.9
schematics_to_swagger>=1.4.7
{%- endif %}
{%- if cookiecutter.use_prozorro_tools == 'y' %}
prozorro-tools
{%- endif %}
{%- if cookiecutter.use_prozorro_auth == 'y' %}
prozorro-auth
{%- endif %}
{%- if cookiecutter.use_prozorro_procedure == 'y' %}
prozorro-procedure
{%- endif %}
{%- if cookiecutter.use_prozorro_mirror == 'y' %}
prozorro-mirror
{%- endif %}
{%- if cookiecutter.use_prozorro_metrics == 'y' %}
prozorro-metrics
{%- endif %}

